<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel = 'stylesheet' href = 'css/style.css'>
<script src='/socket.io/socket.io.js'></script>
<script type='text/javascript' src='js/script.js'></script>
<title>Document</title>
</head>
<body>
    HERE ARE SOME QUOTES
    
    <% for(var x in quotes){ %>
        <p class="name">
        <%= quotes[x].name %>
    </p>
    <p class="quote">
        <%= quotes[x].text %>
    </p>
    <% } %>
    <a href="/" class="btn btn-danger">RETREAT</a>
</body>
</html>